       <section>
      <div class="blue-card-container">
        <div class="blue-card">
          <div class="blue-card__desc">
            <h3 class="blue-card__desc__heading">
              The COVID-19 vaccine is now available for children ages 5-11
            </h3>
            <br />
            <p class="blue-card__desc__content">
              The vaccine is safe and effective in preventing COVID-19 in
              children. Need to make an appointment? Visit our<span
                class="blue-card__desc__content--bold"
              >
                Coronavirus Digital Resource Center</span
              >
              for more information.
            </p>
            <br />
            <button class="btn btn--blue">learn more</button>
          </div>

          <img src="../../images/image1.png" alt="" class="blue-card__img" />
        </div>
      </div>
    </section>
