 <!-- news and stories -->
 <section>
  <div class="content-container">
    <div class="content-news">
      <div class="news-and-stories">
        <div class="news-and-stories__content">
          <h3 class="news-and-stories__content__heading">
            News and stories
          </h3>
          <br />
          <p class="news-and-stories__card__content__desc">
            Find out what’s happening now within St. Luke’s Pediatrics:<br /><br />

            Get the latest news. Read about what’s new at St. Luke’s
            Pediatrics and hear from our experts.<br /><br />

            Read inspiring testimonials. See what our extraordinary patients
            are saying about the care we provide.
          </p>
        </div>

        <div
          class="news-and-stories__card news-and-stories__card--featured"
        >
          <span class="news-and-stories__card-badge">FEATURED</span>
          <div class="news-and-stories__card__img">
            <img src="../../images/image2.png" alt="" />
          </div>
          <div class="news-and-stories__card__content">
            <div
              class="news-and-stories__card__content__heading news-and-stories__card--featured__heading"
            >
              Grand Opening of St. Luke’s Pediatricss
            </div>
            <br />
            <div class="news-and-stories__card__content__desc">
              Ut sagittis, magna eget venenatis convallis, nulla tortor
              dictum quam, at dignissim est magna nec velit. Donec ultrices,
              arcu ac vulputate malesuada, nibh erat maximus massa ...
            </div>
          </div>
        </div>
      </div>
      <div class="news-and-stories__card-grid">
        <div class="news-and-stories__card">
          <div class="news-and-stories__card__img">
            <img src="../../images/image3.png" alt="" />
          </div>
          <div class="news-and-stories__card__content">
            <div class="news-and-stories__card__content__heading">
              St. Luke’s University Health Network Rings 2022 with two Very
              Special Deliveries
            </div>
            <br />
            <div class="news-and-stories__card__content__desc">
              The Lehigh Valley’s first baby of the new year was born at St.
              Luke’s Allentown Campus on January 1st at 1:12 am …
            </div>
          </div>
        </div>

        <div class="news-and-stories__card">
          <div class="news-and-stories__card__img">
            <img src="../../images/image4.png" alt="" />
          </div>
          <div class="news-and-stories__card__content">
            <div class="news-and-stories__card__content__heading">
              Healing a Broken Wrist with a Flash of Purple from a
              3D-Printed Cast
            </div>
            <br />
            <div class="news-and-stories__card__content__desc">
              Kylee Menszak broke her wrist in gym class recently playing
              capture the flag. This was the second time the seventh ...
            </div>
          </div>
        </div>

        <div class="news-and-stories__card">
          <div class="news-and-stories__card__img">
            <img src="../../images/image5.png" alt="" />
          </div>
          <div class="news-and-stories__card__content">
            <div class="news-and-stories__card__content__heading">
              New Adolescent Behavioral Unit at Easton Campus
            </div>
            <br />
            <div class="news-and-stories__card__content__desc">
              St. Luke’s University Health Network (SLUHN) on Tuesday opened
              its new Adolescent Behavioral Health Unit to provide safe,
              expert and ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

