<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <!-- inject:css -->
    
    <!-- endinject -->
  </head>
  <body>
    <main>
      <!-- @@include('../../Components/pd1/vertical-tab/vertical-tab.html') -->
      @@include('../../Components/pd1/color-filter/color-filter.html')
     
    </main>

    <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
   
  </body>
  </body>
</html>
<!-- for (let key in users) {
  console.log(`${users[key].firstname} ${users[key].lastname}`);
  console.log(`${users[key].age}`);
  console.log(`${users[key].post}`);
} -->
