<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <main>
        @@include('../../Components/pd1/locations/locations.html')
      
        </main>
       
        <!-- JS ============================== -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiGp9AysIvI2Z8U9UOoAoBBS6YaeKo_GM&amp;&amp;libraries=places&amp;v=3&amp;onerror=ERROR_FUNCTION"></script>
    <!-- inject:js -->
 
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>
</html>
