<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Document</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <main>
        <!-- @@include('../../Components/pd1/vertical-scroll-tab/vertical-scroll-tab.html') -->
       
        <!-- @@include('../../Components/pd1/tilted-banners/pink-tilted.html')
        @@include('../../Components/pd1/tilted-banners/black-tilted.html')
        @@include('../../Components/pd1/tilted-banners/blue-tilted.html')
        @@include('../../Components/pd1/tilted-banners/image-tilted.html') -->
        @@include('../../Components/pd1/tilted-banners/grey-tilted.html')
        @@include('../../Components/pd1/embeded-vid/about.html')
        @@include('../../Components/pd1/embeded-vid/emebeded1.html')
        @@include('../../Components/pd1/tilted-banners/light-blue.html')
        @@include('../../Components/pd1/embeded-vid/education.html')
       
        <!-- @@include('../../Components/pd1/NICU/NICU.html') -->
        <!-- @@include('../../Components/pd1/doctor_info/doctor_info.html') -->
        <!-- JS ============================== -->

    <!-- inject:js -->
    <!-- endinject -->
    <!-- / JS ============================ -->
</body>
</html>
