.about-content-container
{
  max-width: 1250px;
  // margin-left: auto;
  // margin-right: auto;
}
.about-content {
  // border: green solid 1px;
  display: grid;
  grid-template-columns: 70% 30%;
  position: absolute;
  top: 0;
  width: 100%;
  // max-width: 1250px;
 
 
}

.about-desc {
  // border: red solid 2px;
  padding: 50px 0;

  &__heading {
    color: $primary-color;
    font-family: $openSans;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 2%;

    &--white {
      color: $main-color;
    }
  }

  &__para {
    padding-top: 20px;
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2%;
    padding-bottom: 20px;

    &--white {
      color: $main-color;
    }
  }
}
.about-profileImg {
  // border: green solid 1px;
  padding-top: 90px;
}

.about-data {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1250px;
  padding: 50px 0;

  &__heading {
    color: $primary-color;
    font-family: $openSans;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 2%;
  }

  &__desc {
    padding-top: 20px;
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2%;
    text-align: justify;

    &--less {
      max-width: 750px;
    }
  }
}

