.vertical-scroll-tab-box
{
  width: 100%;
}
.vertical-scroll-tab-container
{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.vertical-scroll-tabs
{
    padding: 30px;
  // width: 20%;
  position: sticky;
  top :0;
  left:0;

  &__links {
    
    padding: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: $white;
    border-right: 5px solid $grey;
    margin-left: auto;
    text-align: right;
    font-weight: 400;
    color: $primary-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
  }
}

.vertical-scroll-content
{
    padding: 30px;
    // width: 80%;
    padding-left: 150px;
    

    &__heading {
      color: $primary-color;
      font-family: $openSans;
      font-size: 30px;
      line-height: 40.85px;
      font-weight: 400;
      padding: 20px 0;
    }
  
    &__desc {
      font-family: $openSans;
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      text-align: justify;
    }
}

.vertical-scroll-tabs .active 
{
  border-right: 5px solid $orange-ada;
  color: $orange-ada;
}