<div class="education-container">
    <h3 class="education__heading">Education</h3>
    <div class="education">
    <div class="education-left">
        
        <h3 class="education__heading education__heading--small">Medical Schools</h3>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p>
        <h3 class="education__heading education__heading--small">Residencies</h3>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p>
     </div>   
    <div class="education-right">
        <h3 class="education__heading education__heading--small">Internships</h3>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p> <h3 class="education__heading education__heading--small">Fellowshipss</h3>
        <p class="education__desc">Ross University School of Medicine - Dominica, 2006</p>
    </div>
</div>
</div>

<div class="locations-container">
    <div class="locations">
<h3 class="locations__heading">Locations</h3>
</div>
<div class="locations-card-container">
    <div class="location-card">
        <div class="hospital-name"><h4 class="hospital-name__heading">Allentown</h4>
        <p class="hospital-name__desc"> St. Luke’s west End Medical Center
        501 Cetronia Road, Suite 135
        Allentown, PA, 18104
        
        </p>
    <p class="hospital-name__desc hospital-name__desc--orange">18104 (484) 526-1260</p>
    </div>
        <div class="timings"><h4 class="timings__heading">Office hours</h4>
        <div class="timings__desc">
        <p class="timings__desc timings__desc--day">Monday:<br>Tuesday:</p>
        <p class="timings__desc timings__desc--time">8:30 PM<br>9:30 PM</p>
        </div></div>

    </div>
    <div class="location-card">
        <div class="hospital-name"><h4 class="hospital-name__heading">Allentown</h4>
        <p class="hospital-name__desc"> St. Luke’s west End Medical Center
        501 Cetronia Road, Suite 135
        Allentown, PA, 18104
        
        </p>
    <p class="hospital-name__desc hospital-name__desc--orange">18104 (484) 526-1260</p>
    </div>
        <div class="timings"><h4 class="timings__heading">Office hours</h4>
        <div class="timings__desc">
        <p class="timings__desc timings__desc--day">Monday:<br>Tuesday:</p>
        <p class="timings__desc timings__desc--time">8:30 PM<br>9:30 PM</p>
        </div></div>

    </div>
    <div class="location-card">
        <div class="hospital-name"><h4 class="hospital-name__heading">Allentown</h4>
        <p class="hospital-name__desc"> St. Luke’s west End Medical Center
        501 Cetronia Road, Suite 135
        Allentown, PA, 18104
        
        </p>
    <p class="hospital-name__desc hospital-name__desc--orange">18104 (484) 526-1260</p>
    </div>
        <div class="timings"><h4 class="timings__heading">Office hours</h4>
        <div class="timings__desc">
        <p class="timings__desc timings__desc--day">Monday:<br>Tuesday:</p>
        <p class="timings__desc timings__desc--time">8:30 PM<br>9:30 PM</p>
        </div></div>

    </div>
    
    
</div>

</div>