

<section>
  <div class="container">
    <div class="tabs">
      <button class="tabs__links active">Introduction</button>
      <button class="tabs__links">Locations</button>
      <button class="tabs__links">NICU Family Support Network</button>
      <button class="tabs__links">Sound Environment</button>
      <button class="tabs__links">Watch Eye<sup>TM</sup></button>
    </div>

    <div class="content">
      <div class="active">
        <h3 class="content__heading">Introduction</h3>
        <p class="content__desc">
          St. Luke’s NICUs are certified to provide advanced medical care to
          critically ill newborns and premature babies. Both NICUs are
          recognized in the "Vermont Oxford Network," a national network of
          NICUs formed to evaluate quality and outcomes of neonatal practices.
          <br />
          Staffed 24/7 by fellowship-trained, board-certified neonatologists,
          along with neonatal nurse practitioners and a team of specially
          trained nurses, lactation consultants, occupational and physical
          therapists, the NICU offers the very latest in technology and
          developmental techniques. St. Luke’s NICUs are equipped to perform CT
          scans, echocardiograms, EKGs, EEGs and ultrasound, among others. Our
          practice is to encourage parental involvement in all aspects of care.
          NICUs at both campuses offer a family waiting room for visitors, a
          night watch room for parents to spend a night with their baby before
          going home and a private place to breast-feed or pump. A skilled team
          of devoted clinicians provides high-level medical care. Special
          lighting and noise control create an environment that is sensitive to
          the babies. Nicky's Place, a private home located on site of St.
          Luke’s Hospital – Bethlehem Campus is available for parents to stay
          when their babies are patients in the NICU. Tours of the NICU are
          available to those who anticipate a high-risk delivery.
        </p>
      </div>

      <div>
        <h3 class="content__heading">Location</h3>
        <p class="content__desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet officia
          nesciunt, dolorem, eaque aliquid ipsum recusandae tempore quam illum
          exercitationem pariatur eveniet delectus?
        </p>
      </div>

      <div>
        <h3 class="content__heading">NICU Family Support Network</h3>
        <p class="content__desc">
          Our NICU partners working with the March of Dimes to join the NICU
          Family Support Network. NICU - Family Support This is one of the first
          licensed programs within the state of Pennsylvania and establishes St.
          Luke’s as a participant with 70 other NICU's nationwide. In fact, St.
          Luke’s was the recipient of the 2015 March of Dimes first annual Site
          of the Year Award Winner for our excellent NICU Family Support Program
          offered at both St. Luke’s University Hospital – Bethlehem and St.
          Luke’s Allentown Campus. The network serves to help parents cope with
          NICU hospitalization and was created by the March of Dimes, with the
          assistance of NICU families, who know exactly what other families
          need. The program is customized to meet the specific needs of the NICU
          staff and parents and incorporates special components to address the
          needs of siblings and extended family members. The network also offers
          continuing education for NICU professional staff on topics related to
          caring for the critically ill newborn and family centered care.
        </p>
      </div>

      <div>
        <h3 class="content__heading">Sound Environment</h3>
        <p class="content__desc">
          Sound, light, touch and handling are significant environmental factors
          that play a role in the development of NICU babies. Proper
          developmental care for these tiny babies can make a big difference.
          Studies have demonstrated that stress from the environment can prolong
          hospitalization and compromise outcomes in preterm babies who require
          intensive medical care. Additionally, undue stress can have long-term
          consequences on brain development and organization. At St. Luke’s,
          NICU care is provided by a skilled team of caregivers who offer an
          environment that is sensitive to the baby's sensory development for
          best outcomes.
        </p>
      </div>

      <div>
        <h3 class="content__heading">Watch Eye<sup>TM</sup></h3>
        <p class="content__desc">
          St. Luke’s Watchful Eye™ program is designed to assess and treat
          retinopathy of prematurity, a problem that can affect the eyesight of
          premature babies.
        </p>
      </div>
    </div>
  </div>
</section>
