<footer>
    <div class="footer-container">
      
      <div class="footer-left">
       <div class="footer-left-left">
        <div class="footer-left-left-title"><h3>866-STLUKES</h3></div>
        <div class="footer-left-left-content"><p>Ut sagittis, magna eget venenatis convallis, nulla tortor dictum quam, at dignissim est magna nec velit. Donec ultrices, arcu ac vulputate malesuada, nibh erat maximus massa</p></div>
       <div class="icon-container" style="color: white;"><a href=#> <i class="fab fa-facebook"></i></a>
        <a href=#> <i class="fab fa-instagram"></i></a>
        <a href=#> <i class="fab fa-linkedin"></i></a>
        <a href=#> <i class="fab fa-twitter"></i></a>
        <a href=#> <i class="fab fa-youtube"></i></a></div>
    
    </div>
       <div class="footer-left-right">
        <div class="resources"><div class="resources-title"><h3>RESOURCES</h3></div>
      <div class="resources-content"><ul><li><a>Bill Pay</a></li>
       <li> <a> MyChart</a></li>
        <li><a> Visitation Policy</a></li>
        <li><a> Pharmacy</a></li></ul>
      </div></div>
        <div class="community"><div class="resources-title"><h3>COMMUNITY</h3></div>
        <div class="resources-content"><ul><li><a>Bill Pay</a></li>
         <li> <a> MyChart</a></li>
          <li><a> Visitation Policy</a></li>
          <li><a> Pharmacy</a></li></ul>
        </div></div>
        <div class="about"><div class="resources-title"><h3>ABOUT</h3></div>
        <div class="resources-content"><ul><li><a>Bill Pay</a></li>
         <li> <a> MyChart</a></li>
          <li><a> Visitation Policy</a></li>
          <li><a> Pharmacy</a></li></ul>
        </div></div>
        <div class="vendors"><p class="vendor-desc">Vendors | EOE | Privacy | Public Notice | Terms of Use</p>
        </div>
       </div>
      </div>
      <div class="footer-right"><div class="footer-right-title"><h3>CAREERS</h3></div>
    <div class="footer-right-content"><p>Aliquam ultricies elementum augue, dignissim dapibus urna. Aenean nec venenatis purus. Duis in vehicula turpis, ac vestibulum nibh. Cras hendrerit sollicitudin enim consequat auctor. Mauris sed ornare nulla. In fringilla dui venenatis molestie </p></div>
    <div class="footer-right-btn"><button>Work with us!</button></div>
    <div class="footer-right-content"><p>© Copyright 2022 St. Luke’s. All rights reserved.
      Headquartered in Bethlehem, Pennsylvania</p></div>
  </div>
    
    </div>
    </footer>
   