<div class="stlukes">
  <div class="stlukes-container">
    <div class="stlukes-content">
      <div>
        <img
          src="../../images/stlukes_logo.png"
          class="stlukes-content__logo"
        />
      </div>
      <div>
        <h3 class="stlukes-content__heading">Commited to quality healthcare</h3>
      </div>
      <div>
        <p class="stlukes-content__content">
          St. Luke’s is committed to providing high-quality health care to
          children of all ages. Our board-certified pediatricians and expert
          advanced practitioners see patients at our primary care pediatric
          practices located throughout the Lehigh Valley and surrounding areas.
        </p>
        <br />
        <p class="stlukes-content__content">
          Our physicians and advanced practitioners treat young patients in a
          manner that is comfortable for the child and comforting for parents.
          We understand that children are not small adults; their developing
          bodies may require special medications and different medical
          treatments.
        </p>
      </div>
      <div style="margin-top: 25px">
        <a href="#" class="stlukes-content__link">View our services</a>
        <img src="../../images/more_logo.png" class="stlukes-content__more" />
      </div>
    </div>
    <div class="stlukes-card-container">
      <div class="stlukes-card">
        <div class="stlukes__img">
          <img src="../../images/Pediatrics.png" />
        </div>
        <div class="stlukes-card__text">
          <h1 class="stlukes-card__text__heading">Find a doctor near you</h1>
          <p class="stlukes-card__text__content">
            Practices are conveniently located in your neighborhood.
          </p>

          <div>
            <br/>
            <button
              class="stlukes-card__text--btn stlukes-card__text--btn--orange"
            >
              <img
                src="../../images/steth.png"
                class="stlukes-card__text__steth"
              />
              find a doctor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
